# Dependencies
node_modules/

# Build output
build/
.docusaurus/
.astro/
dist/
out/

# Environment variables
.env
.env.local
.env.production

# Misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea/
.github/
.vscode/
*.swp

# Cloudflare
.wrangler/
docs/.obsidian/app.json
docs/.obsidian/appearance.json
docs/.obsidian/core-plugins.json
docs/.obsidian/workspace.json